@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Prata&display=swap');
html,body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.container-service{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.line-for-section-top-first{
    display: block;
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50%;
    background: #D1A573;
    height: 4px; 
}
.line-for-section-top-second{
    display: block;
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50%;
    background: #D1A573;
    height: 4px; 
}
.line-for-section-bottom-first{
    display: block;
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 50%;
    background: #D1A573;
    height: 4px; 
}
.line-for-section-bottom-second{
    display: block;
    content: '';
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50%;
    background: #D1A573;
    height: 4px; 
}
#line-for-section-left-section1{
    top: 10px;
    height: 99%;
}
#line-for-section-right-section1{
    top: 10px;
    height: 99%;
}
#line-for-section-left-section5{
    z-index: 2;
}
#line-for-section-right-section5{
    z-index: 2;
}
/* #line-for-section-left-section3{
    height: 1000%;
}
#line-for-section-right-section3{
    height: 1000%;
} */
.line-for-section-left{
    display: block;
    content: '';
    position: absolute;
    left: 10px;
    width: 4px;
    background: #D1A573;
    height: 100%; 
}
.line-for-section-right{
    display: block;
    content: '';
    position: absolute;
    right: 10px;
    width: 4px;
    background: #D1A573;
    height: 100%; 
}
.line-for-section-right-section5{
    top: 0;
    z-index: 11;
}
#section1{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gsaergser3.jpg) center no-repeat;
}
#section2{
    background: #F9F0EC;
}
#section4{
    background: #181D24;
    overflow-x:hidden;
}
#section5{
    background: #F9F0EC;
    overflow-x:hidden;
}
.content-section{
    width: 100%;
}
#content-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}
#content-section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
#content-section3 h2{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 110%;
    text-align: center;
    color: #181D24;
    transform: rotate(-90deg);
}
#content-section4 h2{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 140%;
    text-align: center;
    color: #F9F0EC;
    margin: 90px 0 40px 0;
}
.container-preparation{
    max-width: 1140px;
    margin: 0 auto;
    padding: 70px 10px 0 10px;
}
.header{
    top: 35px;
    position: absolute;
    width: 100%;
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
#header-social-media{
    display: none;
}
.footer-tg{
    margin: 0 55px;
}
.logo{
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #F9F0EC;
}
.phone{
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #F9F0EC;
    text-decoration: none;
    margin-right: 80px;
}
.language{
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #F9F0EC;
    text-decoration: none;
}
.right-header{
    display: flex;
}
.first-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    height: 100%;
}
.text-dream{
    display: flex;
    align-items: center;
}
.text-dream p{
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #D1A573;
    margin: 0 30px;
}
.text-dream span{
    display: block;
    content: '';
    width: 100px;
    height: 1px;
    width: 100px;
    background: #D1A573;
}
h1{
    font-family: 'Prata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F9F0EC;
}
.main-btn{
    position: relative;
    width: 216px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(21, 21, 21, 0.5);
    border: 1px solid #D1A573;
    box-sizing: border-box;
    color: #D1A573;
    transition: 0.7s;
}
.main-btn p{
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    cursor: pointer;
    z-index: 11;
}
.main-btn:after {
    content: '';
    width: 100%;
    height: 0;
    background: #D1A573;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 0.7s;
}
.main-btn:hover:after{
    height: 100%;
}
.main-btn:hover{
    color: #443850;
}
#social-media-right{
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
}
#social-media-content-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-media-content{
    height: 100%;
    display: flex;
    justify-content: center;
}
.social-media-box{
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-box svg{
    fill: #F8F8F8;
    opacity: 0.5;
    transition: 0.7s;
}
.social-line{
    display: block;
    position: absolute;
    overflow: auto;
    margin: auto;
    /* bottom: 0; */
    width: 50%;
    height: 50%;
    top: 0; left: 0; bottom: 0; right: 0;
    content: '';
    width: 0;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #D1A573;
    border-radius: 100px;
    transition: 0.7s;
    z-index: -1;
    background: #D1A573;
}
.social-media-box:hover > .social-line{
    height: 1px;
    width: 1px;
    opacity: 1;
    border-width: 15px;
    border-radius: 0;
}
.social-media-box:hover > .icon-social{
    opacity: 1;
}
.tg-link{
    margin: 0 25px;
}
#tg-link-right{
    margin: 25px 0;
}
.scroll{
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.scroll circle{
    animation: move 3s infinite linear;
}
@keyframes move {
    0% {
        cy: 39.5;
    }
    50% {
        cy: 60;
    }
    100% {
        cy: 39.5;
    }
  }
#pp-nav{
    display: none;
}
.photo-with-btn-history{
    width: 750px;
    height: 750px;
    position: relative;
}
.history-block{
    position: relative;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-block h2{
    position: absolute;
    top: -80px;
    z-index: 5;
    position: absolute;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 120%;
    color: #181D24;
    margin: 0 auto;
}
.photo-main-d{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.photo-main-t{
    display: none;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.photo-main-m{
    display: none;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.text-near-history{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #181D24;
}
.text-right-history{
    margin: 0 0 146px 46px;  
}
.text-left-history{
    margin: 146px 46px 0 0;  
}
.btn-history{
    position: absolute;
    bottom: 40px;
    width: 100%;
    margin: 0 auto;
}
.look-btn{
    position: relative;
    text-decoration: none;
    z-index: 11;
    width: 197px;
    height: 65px;
    background: #181D24;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.look-btn p{
    color: #D1A573;
    transition: 0.7s;
}
.look-btn p{
    margin-right: 10px;
}
.icon-circle{
    position: relative;
    width: 35px;
    height: 35px;
    border: 0.5px solid #D1A573;
    border: 0.5px solid hsl(32, 51%, 64%, 0.5);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}
.icon-circle:after{
    position: absolute;
    top: 0;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 0.5px solid hsl(32, 51%, 64%, 0.5);
    content: '';
    z-index: 11;
    transform: rotate(45deg);
    transition: 0.7s;
    z-index: -1;
}
.look-btn:after {
    content: '';
    width: 100%;
    height: 0;
    background: #D1A573;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.7s;
}
.look-btn:hover:after{
    height: 100%;
}
.look-btn:hover p{
    color: #181D24;
}
.look-btn:hover .icon-circle{
    position: relative;
    width: 35px;
    height: 35px;
    border: 0.5px solid #181D24;
    background: hsl(215, 20%, 12%, 1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}
.look-btn:hover .icon-circle:after{
    width: 0;
    height: 0;
    opacity: 0;
}
.icon-circle img{
    width: 7px;
}
.services{
    width: 100%;
    display: flex;
    align-content: space-between; 
    justify-content: flex-end;
    flex-wrap: wrap;
}
.service{
    position: relative;
    width: 420px;
    height: 420px;
    margin: 30px;
}
.service-container:after{
    content: '';
    width: 100%;
    height: 0;
    background: #181D24;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: 0.7s;
}
.service-container::before{
    content: '';
    width: 100%;
    height: 75px;
    background: linear-gradient(180deg, rgba(24, 29, 36, 0) 0%, #181D24 80.21%); 
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 12;
    transition: 0.7s;
    opacity: 0;
}
.service-container:hover::before{
    opacity: 1;
}
.service-container:hover:after{
    height: 100%;
}
.service-container:hover:after .title-service{
    height: 100%;
}
.service img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.hover-bg{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #181D24;
    top: 0;
    z-index: -1;
    /* top: 0;
    width: 1%;
    height: 1%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: #181D24; */
}
.description-service{
    opacity: 0;
    z-index: 11;
    transition: 1s;
}
.service-container:hover > .description-service{
    opacity: 1;
}
.service:hover > .description-service{
    opacity: 1;
}
.service-container{
    padding: 40px;
    color: #fff;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden; 
}
.service-container::-webkit-scrollbar{
    width: 0px;
    background: rgba(255, 255, 255, 0.0);   
}
.service-container p{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #F9F0EC;
}
.service-container:hover{
    overflow-y: scroll; 
}
.service-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* @media(max-width: 1254px){
    .text-right-history{
        margin: 0 0 146px 12px;  
    }
    .text-left-history{
        margin: 146px 12px 0 0;  
    }
} */
#preparation-nav{
    display: flex;
    justify-content: space-between;
    min-width: 0;
    margin: 0 auto;
    list-style-type: none;
}
#preparation-nav li{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120%;
    color: #F9F0EC;
    cursor: pointer;
    margin-right: 30px;
}
#preparation-nav li.active{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120%;
    color: #ff4d00;
}
.preparation-content{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
#preparation-info-content-m{
    display: none;
}
.preparation-info-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 840px;
}
.preparation-order-link{
    padding-top: 70px;
    height: 180px;
    width: 180px;
    position: sticky;
    right: 0;
    top: 0;
}
.left-preparation-info{
    display: flex;
    flex-direction: column;
}
.preparation-info-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
.right-preparation-info{
    margin-top: 330px;
}
.title-preparation-block{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #F9F0EC;
    margin-bottom: 20px;
}
.img-with-number{
    position: relative;
    transform: scale(1);
}
.img-with-number-img{
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden;
}
.img-with-number-img img{
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden;
}
.img-with-number:hover .gsergserga{
    transform: scale(1.2);
}
.img-with-number span{
    position: absolute;
    top: 0px;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100%;
    text-align: center;
    color: #F8F8F8;
    left:50%;
    transform:translate(-50%, -50%);

}
.center-preparation-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.preparation-block-description{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #D1A573;
    margin: 20px 0 0 0;
}
.count-day{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #F9F0EC;
    opacity: 0.5;
    text-align: center;
    margin: 25px 0;
}
.preparation-option{
    display: none;
}
.active.preparation-option{
    display: block;
}
.start-end-line{
    display: block;
    content: '';
    width: 1px;
    height: 189px;
    background: #D1A573;
}
.center-line{
    display: block;
    content: '';
    width: 1px;
    height: 268px;
    background: #D1A573;
}
.preparation-btn-order{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.preparation-btn-order::after{
    display: block;
    position: absolute;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #D1A573;
    z-index: -1;
    transition: 0.7s;
}
.insta-order-icon{
    opacity: 0.01;
    transition: 0.7s;
}
.preparation-btn-order:hover .insta-order-icon{
    opacity: 1;
}
.preparation-btn-order:hover:after{
    width: 141px;
    height: 141px;
}
.circle-text{
    position: absolute;
}
.circle-text{
    transform: rotate(0deg);
    transition: 0.7s;
}
.preparation-btn-order:hover .circle-text{
    transform: rotate(-185deg);
}
.circle-text:hover{
    transform: rotate(45deg);
}
.swiper {
    width: 100%;
    height: 100%;
  }
.nav-list{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120%;
    color: #F9F0EC;
    transition: 0.7s;
}
.nav-list.active{
    color: #D1A573;
}
.nav-list:hover{
    color: #181D24;
}
.nav-list::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 1px;
    background: #D1A573;
    transition: 0.7s;
    z-index: -1;
}
.nav-list.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 1px;
    background: #D1A573;
    transition: 0.7s;
    z-index: -1;
}
.nav-list:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 100%;
    background: #D1A573;
    transition: 0.7s;
}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.swiper-nav{
    height: 40px;
    position: absolute;
}
.swiper-slide-nav{
    margin: 0;
    /* width: 500px; */
    height: 40px;
    /* width: fit-content; */
    /* width: max-content; */
}
.gsdrtgh{
    height: 40px;
}
.nav-list{
    margin: 0;
    padding: 0;
    width: fit-content;
}
.fawefweaf{
    width: 100%;
    position: relative;
}
#section5 h2{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;  
    color: #181D24;
}
.my-slide{
    position: absolute;
    height: 530px;
}
.item-silder{
    height: 460px;
    z-index: 3;
    width: 310px;
    position: relative;
}
.item-silder img{
    width: 310px;
    height: 460px;
}
.event-title{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #F9F0EC;
    margin: 0;
    transition: 0.7s;
}
.event-piople{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #F9F0EC;
    margin: 0;
    transition: 0.7s;
}
.section5-second-content{
    padding: 750px 0 250px 0;
}
.section5-second-content h3{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px; 
    color: #181D24;
}
.my-swiper-slide{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 460px;
    width: 310px;
    border: 5px solid hsl(18, 52%, 95%, 0);
    transition: 0.7s;
    position: relative;
}
.my-swiper-slide:hover{
    border: 5px solid #D1A573;
}
.my-swiper-slide.active{
    display: flex;
    width: 1140px;
    border: 5px solid #D1A573;
}
.my-swiper-slide.active .item-silder p{
    opacity: 0;
}
.swiper-slide{
    cursor: pointer;
}
.text-portfolio{
    display: none;
    width: 773px;
    padding-left: 67px;
    opacity: 0;
}
.text-portfolio h3{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #59413E;
}
.text-portfolio p{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #443850;
}
.text-portfolio.active{
    display: block;
    opacity: 1;
}
.text-portfolio a{
    text-align: center;
    width: 100%;
}
.cross{
    position: absolute;
    top: 30px;
    right: 30px;
}
.link-portfolio{
    display: flex;
    justify-content: center;
    width: 100%;
}
.link-portfolio a{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    color: #443850;
    text-decoration: none;
    border-bottom: 1px solid #D1A573;;
    margin: 0 auto;
}
.faq{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.faq-item{
    height: 174px;
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 80px 30px 0;
    transition: 0.5s;
    z-index: 3;
}
.faq-item:hover > .line-faq{
    transition: 0.5s;
    height: 100%;
}
.info-faq {
    position: absolute;
    top: 0;
    z-index: 5;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #F9F0EC;
    padding: 15px;
}
.line-faq{
    position: absolute;
    display: block;
    bottom: 0;
    content: '';
    height: 2px;
    background: #181D24;
    width: 100%;
    height: 174px;
    overflow-y: scroll;
}
.line-faq::-webkit-scrollbar{
    width: 0px;
    background: rgba(255, 255, 255, 0.0);   
}
/* .line-faq:hover > .info-faq{
    opacity: 1;
    padding: 15px;
    display: block;
} */
.line-faq{
    position: absolute;
    display: block;
    bottom: 0;
    content: '';
    height: 1px;
    background: #181D24;
    width: 100%;
}
.faq-item-number{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #181D24;
}
.faq-item-description{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #181D24;
}
.give-question{
    background: #D1A573;
}
.title-give-question{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.title-give-question p{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #F9F0EC;
    text-decoration: none;
}
.give-question-link{
    text-decoration: none;
}
.description-give-question{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #F9F0EC;
}
.footer{
    width: 100%;
    background: #181D24;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 50px 0 60px 0;
}
.footer-number{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 95px;
    letter-spacing: 0.1em;
    color: #F9F0EC;
    margin: 20px 0 30px 0;
}
.design-by{
    position: absolute;
    margin: 0;
    bottom: 34px;
    right: 34px;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    color: #F9F0EC;
    opacity: 0.5;
    text-decoration: none;
}
@media(max-width: 1406px){
    .service{
        width: 335px;
        height: 335px;
        margin: 15px;
    }
    .service-container{
        padding: 30px;
        color: #fff;
        height: 275px;
    }
}
@media(max-width: 1300px){
    .text-dream p{
        font-size: 15px;
        margin: 0 10px;
    }
    .text-dream span{
        width: 75px;
    }
    h1{
        font-size: 47px;
    }
    .text-right-history{
        margin: 0 0 146px 12px;  
    }
    .text-left-history{
        margin: 146px 12px 0 0;  
    }
    .photo-main-d{
        display: none;
    }
    .photo-main-t{
        display: block;
    }
    .photo-with-btn-history{
        width: 450px;
        height: 570px;
        position: relative;
    }
    .history-block{
        position: relative;
        width: 100%;
        height: 570px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .history-block h2{
        top: -40px;
        font-size: 70px;
    }
    .text-near-history{
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #181D24;
    }
}
@media(max-width: 1200px){
    #content-section3 h2{
        margin: 0;
        font-size: 70px;
    }
    .container-service{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }
}
@media(max-width: 1100px){
    .container-service{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .services{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #content-section3 h2{
        transform: rotate(0deg);
    }
    .faq{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .faq-item{
        height: 174px;
        width: 330px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px 30px 15px;
        transition: 0.5s;
        z-index: 3;
    }
}
@media(max-width: 1000px){
    .preparation-order-link{
        display: none;
    }
    .preparation-content{
        justify-content: center;
    }
    .preparation-info-content{
        justify-content: center;
    }
    .center-preparation-info{
        padding: 0 10px;
    }
    .preparation-info-content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 768px){
    #header-social-media{
        display: block;
    }
    #social-media-right{
        display: none;
    }
    .header-content{
        padding: 0 40px;
    }
    .right-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        display: none;
    }
    .phone{
        margin-right: 0;
    }
    .social-media-content a{
        display: flex;
        align-items: center;
        margin: 0 12.5px;
    }
    #tg-link-right{
        margin: 0 12.5px;
    }
    #content-section4 h2{
        font-size: 70px;
        position: relative;
    }
    .img-with-number img{
        width: 284px;
    }
    .start-end-line{
        display: block;
        content: '';
        width: 1px;
        height: 160px;
        background: #D1A573;
    }
    .center-line{
        display: block;
        content: '';
        width: 1px;
        height: 215px;
        background: #D1A573;
    }
    .preparation-block-description{
        font-size: 16px;
    }
    .line-for-section-top-first{
        display: none;
    }
    .line-for-section-top-second{
        display: none;
    }
    .line-for-section-left{
        display: none;
    }
    .line-for-section-right{
        display: none;
    }
    .line-for-section-bottom-first{
        display: none;
    }
    .line-for-section-bottom-second{
        display: none;
    }
    .event-piople{
        width: 100%;
        text-align: center;
        right: 0;
    }
    .my-swiper-slide{
        padding: 0px;
        border: none;
    }
    .my-swiper-slide::after{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        margin: auto;
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-radius: 100px;
        background: #D1A573;
        z-index: 11;
        transition: 0.7s; 
    }
    .my-swiper-slide.active-m::after{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        margin: auto;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #D1A573;
        z-index: 11; 
        border-radius: 0;
    }
    .my-swiper-slide.active-m{
        display: flex;
        width: 310px;
        border: none;
    }
    .my-swiper-slide:hover{
        border: none;
    }
    .my-swiper-slide.active-m{
        border: none;
    }
    .my-swiper-slide.active-m .item-silder p{
        opacity: 0;
    }
    .item-silder{
        overflow-y: scroll;
    }
    .text-portfolio-descriotion{
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #F9F0EC;
        padding: 0 15px;
        opacity: 0;
        transition: 0.7s;
    }
    .text-portfolio.active-m .text-portfolio-descriotion{
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #F9F0EC;
        padding: 0 15px;
        opacity: 1;
    }
    .text-portfolio {
        overflow-y: scroll;
        position: absolute;
        width: 310px;
        height: 460px;
        padding-left: 67px;
        z-index: 12;
        padding: 0;
        opacity: 0;
        transition: 0.7s;
    }
    .text-portfolio.active-m {
        display: block;
    }
    .my-swiper-slide.active-m .item-silder p{
        opacity: 0;
    }
    /* .text-portfolio p {
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #F9F0EC;
        padding: 0 15px;
        opacity: 0;
        transition: 0.7s;
    } */
    .link-portfolio a {
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        text-align: right;
        color: #F9F0EC;
        border-bottom: 1px solid #181D24;
}
    .text-portfolio::before{
        position: fixed;
        content: "";
        width: 0;
        height: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(209, 165, 115, 0) 0%, hsl(32, 51%, 64%, 0) 43.54%);
        z-index: 11;  
        opacity: 0;
        transition: 0.7s;
    }
    .text-portfolio.active-m::before{
        position: fixed;
        content: "";
        width: 100%;
        height: 70px;
        bottom: 0;
        background: linear-gradient(180deg, rgba(209, 165, 115, 0) 0%, hsl(32, 51%, 64%, 100) 43.54%);
        z-index: 11;
        transition: 0.7s;
        opacity: 1;
    }
    .text-portfolio h3{
        display: none;
    }
    .cross{
        display: none;
    }
    .link-portfolio{
        position: fixed;
        bottom: 10px;
        z-index: 12;
        color: #F9F0EC;
    }
}

@media(max-width: 700px){
    .text-dream p{
        font-size: 10px;
    }
    .text-dream span{
        width: 20px;
    }
    h1{
        font-size: 24px;
    }
    .history-block h2{
        top: -30px;
        font-size: 44px;
    }
    .photo-main-t{
        display: none;
    }
    .photo-main-m{
        display: block;
    }
    .text-near-history{
        display: none;
    }
    .photo-with-btn-history{
        width: 320px;
        height: 500px;
        position: relative;
    }
    .history-block{
        position: relative;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 650px){ 
    #preparation-info-content-d{
        display: none;
    }
    #preparation-info-content-m{
        display: flex;
    } 
    .preparation-info-content{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 840px;
    }
    .center-preparation-info{
        margin-right: 20px;
    }
    .preparation-info-block{
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;
    }
    .start-end-line{
        display: block;
        content: '';
        width: 1px;
        height: 190px;
        background: #D1A573;
    }
    .center-line{
        display: block;
        content: '';
        width: 1px;
        height: 413px;
        background: #D1A573;
    }
    .title-preparation-block{
        margin-bottom: 10px;
    }
    .preparation-block-description{
        margin: 10px 0 0 0;
    }
    .img-with-number span{
        font-size: 70px;
    }
    #content-section4 h2{
        font-size: 46px;
    }
    #section5 h2{
        font-size: 45px;
    }
    .section5-second-content h3{
        font-size: 38px;
    }
}
@media(max-width: 425px){
    #section1{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gsaergser3.jpg) center 30% no-repeat;
        background-size: 300%;
    }
    #header-social-media{
        display: none;
    }
    .text-dream p{
        font-size: 10px;
    }
    .text-dream span{
        width: 20px;
    }
    .history-block h2{
        top: -30px;
        font-size: 40px;
    }
    #section5 h2{
        font-size: 40px;
    }
    h1{
        font-size: 24px;
    }
    .service{
        margin: 10px 0;
    }
    .nav-list{
        font-size: 16px;
    }
    .swiper-slide-nav{
        margin: 0;
        /* width: 500px; */
        height: 20px;
        /* width: fit-content; */
        /* width: max-content; */
    }
}
@media(max-width: 366px){
    .history-block h2{
        top: -30px;
        font-size: 40px;
    }
    #content-section4 h2{
        font-size: 40px;
    }
    .center-preparation-info{
        margin-right: 5px;
    }
    #section5 h2{
        font-size: 33px;
    }
}
@media(max-width: 348px){
    #header-social-media{
        display: none;
    }
    .text-dream p{
        font-size: 10px;
        margin: 0 5px;
    }
    .text-dream span{
        width: 10px;
    }
    h1{
        font-size: 22px;
    }
    .history-block h2{
        top: -30px;
        font-size: 38px;
    }
    .service{
        width: 300px;
        height: 300px;
        margin: 10px;
    }
    .service-container{
        padding: 30px;
        color: #fff;
        height: 240px;
    }
    .center-preparation-info{
        margin: 0;
    }
}
@media(max-width: 330px){
    .center-preparation-info{
        margin-right: 1px;
    }
    .center-preparation-info{
        padding: 0;
    }
}